/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
body{
  // background-color: #283350;
  background-color: #191d29;
  color: white;
  font-family: 'Noto Sans Mono', monospace;
}
li,i{
  cursor: pointer;
}
.page-item a{
  background-color: #0F3263;
  color: white;
}
