<h1 class="mt-5">Register</h1>
<form [formGroup]="registerForm" (ngSubmit)="submitFormGroup()">
  <div class="my-3">
    <label class="my-2">First Name</label>
    <input type="text" class="form-control" placeholder="Enter your First Name" formControlName="first_name">
    <div class="errors d-none">
      <p class="text-warning my-2">enter valid name</p>
    </div>
  </div>
  <div class="my-3">
    <label class="my-2">Last Name</label>
    <input type="text" class="form-control" placeholder="Enter your Last Name" formControlName="last_name">
    <div class="errors d-none">
      <p class="text-warning my-2">enter valid name</p>
    </div>
  </div>
  <div class="my-3">
    <label class="my-2">Email</label>
    <input type="email" class="form-control" placeholder="Enter your Email" formControlName="email">
    <div class="errors d-none">
      <p class="text-warning my-2">enter valid email</p>
    </div>
  </div>
  <div class="my-3">
    <label class="my-2">Password</label>
    <input type="password" class="form-control" placeholder="Enter your Password" formControlName="password">
    <div class="errors d-none">
      <p class="text-warning my-2">enter valid password</p>
    </div>
  </div>
  <button class="submit btn btn-warning mt-3">Submit</button>
</form>
